# frozen_string_literal: true

require "rails_helper"

RSpec.describe <%= component_class %>, type: :component do
  subject(:render!) { render_inline(described_class.new(<%= placeholder_arguments %>)) }

  it "renders" do
    render!

    expect(page).to have_css("div")
  end
end
